.container {
  height: 100vh;
  width: 100%;
  .loginbox {
    height: 50vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 15%;

    .loginform {
      display: contents;
      flex-direction: column;
      justify-content: center;
      width: 100%;
      .login-user{
        position: absolute;
        top: 36%;
        font-size: 1.5rem;
        left: 25.2rem;
      }
      .login-password{
        position: absolute;
        top: 52%;
        font-size: 1.5rem;
        left: 25.2rem;
      }
      input {
        width: 50%;
        padding: 1rem;
        padding-left: 3.2rem;
        margin-top: 1rem;
        outline: none;
        border: 1px solid rgb(140, 138, 138);
        text-decoration: none;
        border-radius: 8px;
      }
    }
  }
  p {
    font-weight: lighter;
    letter-spacing: 1px;
  }
  .btn {
    margin-top: 0.5rem;
    background-color: rgb(7, 7, 152);
    padding: 1rem;
    color: white;
    width: 52%;
    border-radius: 10px;
    font-weight: bolder;
  }
  .forgot {
    margin-top: 0.9rem;
    text-decoration: none;
    border: none;
    color: black;
  }
}
.footerLine {
  position: relative;
  top: 40%;
  display: flex;
  justify-content: center;

  span {
    margin-left: 1rem;
    font-weight: 100;
  }
}
.cpy {
  position: relative;
  top: 41%;
  display: flex;
  justify-content: center;
  font-weight: lighter;
}
