@media  screen and (max-width: 1500px) {
    .client-side{
        position: absolute;
        left: 0;
        top: 0%;
    }
    .table{
        position: absolute;
        left: 1rem;
        flex-wrap: wrap;
    }
}